
*{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h1{
	background-color: #DEC5EA ;
	padding: 10px;
	border: solid 5px black;
	margin: 50px;
	letter-spacing: 3px;
}
h2{
	letter-spacing: 3px;
}

div{
	background-color: #C5EADE;
	border: solid 5px black;
	width : 75%;
	margin: 50px auto;
	padding: 10px;

}
ul{
	text-align: left;
}
li{
	text-align: left;
}

li.none{
	list-style-type: none;
}

li.disc{
	list-style: disc;
}

li.circle{
	list-style-type: circle;
}

li.decimal{
	list-style-type: decimal;
}

li.decimal-leading-zero{
	list-style-type: decimal-leading-zero;
}
li.lower-alpha{
	list-style-type: lower-alpha;
}
li.upper-alpha{
	list-style-type: upper-alpha;
}
li.lower-roman{
	list-style-type: lower-roman;
}
li.upper-roman{
	list-style-type: upper-roman;
}

ul.image{
	list-style-image: url("images/arrow.png");
}

table{
	margin: 20px;
	border: solid 5px #686868;
	padding: 20px;
	border-collapse: collapse;
}
th{
	padding: 10px;
}
td{
	padding: 15px;
	border: solid 5px #686868;
	text-align: left;
}
tr:hover{
	background-color: #EAC5C5;
}

input{
	background-image: url(images/arrow.png);
	background-repeat: no-repeat;
	background-position: 8px 9px;
	background-color: #F0CECE;

	padding: 10px;
	border-radius: 50px;
	font-size: 120%;
	width: 200px;
}

input#submit {
	color: white;
	text-shadow: 0px 1px 1px black;
	border-bottom: 2px solid #b2b2b2;
	background-color: #b9e4e3;
	background: -webkit-gradient(linear, left top,
	 left bottom, from(black), to(gray));
	background:
	 -moz-linear-gradient(top, #beeae9, #a8cfce);
	background:
	 -o-linear-gradient(top, #beeae9, #a8cfce);
	background:
	 -ms-linear-gradient(top, #beeae9, #a8cfce);
}
input#submit:hover {
	color: white;
	border: 1px solid #a4a4a4;
	border-top: 2px solid #b2b2b2;
	background-color: #a0dbc4;
	background: -webkit-gradient(linear, left top,
	 left bottom, from(gray), to(black));
	background:
	 -moz-linear-gradient(top, #a8cfce, #beeae9);
	background:
	 -o-linear-gradient(top, #a8cfce, #beeae9);
	background:
	 -ms-linear-gradient(top, #a8cfce, #beeae9);
}

input#username{
	font-size: 100%;
	background-color: white;
	background-image: none;
	height: 10px;
	width: 50%;
	margin: 5px;
}
input#email{
	font-size: 100%;
	background-color: white;
	background-image: none;
	height: 10px;
	width: 75%;
	margin: 5px;
}
fieldset{
	padding: 100px;
	margin: 20px auto;
	width: 350px;
	border: 10px solid black;
	border-radius: 10px;
	text-align: left;
}
legend {
	font-weight: bold;
	background-color: #efefef;
	border: 1px solid #dcdcdc;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: left;
	text-transform: uppercase;
}